In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df=pd.read_excel("Encoded Global Superstore data 2018.xlsx")

In [4]:
df.head()

,Unnamed: 0,Sales,Quantity,Discount,Profit,Shipping Cost,Order ID fe,Order Date fe,Ship Date fe,Ship Mode fe,...,City fe,State fe,Country fe,Region fe,Market fe,Product ID fe,Product Name fe,Sub-Category fe,Category fe,Order Priority fe
0,0,731.82,2,0.0,102.42,39.66,0.000058,0.000643,0.001579,0.600019,...,0.000097,0.000097,0.001072,0.051764,0.278846,0.000390,0.000390,0.047007,0.192240,0.573855
1,1,243.54,9,0.0,104.49,18.72,0.000039,0.000448,0.000546,0.200994,...,0.000097,0.000097,0.001072,0.051764,0.278846,0.000390,0.000390,0.046929,0.610041,0.573855
2,2,346.32,3,0.0,13.77,14.10,0.000058,0.000643,0.001579,0.600019,...,0.000097,0.000097,0.001072,0.051764,0.278846,0.000273,0.000273,0.028973,0.197719,0.573855
3,3,169.68,4,0.0,79.68,11.01,0.000058,0.000643,0.001579,0.600019,...,0.000097,0.000097,0.001072,0.051764,0.278846,0.000273,0.000273,0.061493,0.192240,0.573855
4,4,203.88,4,0.0,24.36,5.72,0.000039,0.000448,0.000546,0.200994,...,0.000097,0.000097,0.001072,0.051764,0.278846,0.000351,0.000351,0.046539,0.610041,0.573855

In [5]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [6]:
df_copy=df.copy()

In [7]:
df_copy.head()

,Sales,Quantity,Discount,Profit,Shipping Cost,Order ID fe,Order Date fe,Ship Date fe,Ship Mode fe,Customer ID fe,...,City fe,State fe,Country fe,Region fe,Market fe,Product ID fe,Product Name fe,Sub-Category fe,Category fe,Order Priority fe
0,731.82,2,0.0,102.42,39.66,0.000058,0.000643,0.001579,0.600019,0.000058,...,0.000097,0.000097,0.001072,0.051764,0.278846,0.000390,0.000390,0.047007,0.192240,0.573855
1,243.54,9,0.0,104.49,18.72,0.000039,0.000448,0.000546,0.200994,0.000039,...,0.000097,0.000097,0.001072,0.051764,0.278846,0.000390,0.000390,0.046929,0.610041,0.573855
2,346.32,3,0.0,13.77,14.10,0.000058,0.000643,0.001579,0.600019,0.000058,...,0.000097,0.000097,0.001072,0.051764,0.278846,0.000273,0.000273,0.028973,0.197719,0.573855
3,169.68,4,0.0,79.68,11.01,0.000058,0.000643,0.001579,0.600019,0.000058,...,0.000097,0.000097,0.001072,0.051764,0.278846,0.000273,0.000273,0.061493,0.192240,0.573855
4,203.88,4,0.0,24.36,5.72,0.000039,0.000448,0.000546,0.200994,0.000039,...,0.000097,0.000097,0.001072,0.051764,0.278846,0.000351,0.000351,0.046539,0.610041,0.573855

In [21]:
df_copy.isnull().sum().sum()

33

In [23]:
df_copy.isnull().sum(axis = 0)

Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order ID fe           0
Order Date fe         0
Ship Date fe         33
Ship Mode fe          0
Customer ID fe        0
Customer Name fe      0
Segment fe            0
City fe               0
State fe              0
Country fe            0
Region fe             0
Market fe             0
Product ID fe         0
Product Name fe       0
Sub-Category fe       0
Category fe           0
Order Priority fe     0
dtype: int64

In [25]:
df_copy.drop("Order Date fe",axis=1,inplace=True)

In [26]:
df_copy.drop("Ship Date fe",axis=1,inplace=True)

In [94]:
df_copy.isnull().sum(axis = 0)

Sales                0
Quantity             0
Discount             0
Profit               0
Shipping Cost        0
Order ID fe          0
Ship Mode fe         0
Customer ID fe       0
Customer Name fe     0
Segment fe           0
City fe              0
State fe             0
Country fe           0
Region fe            0
Market fe            0
Product ID fe        0
Product Name fe      0
Sub-Category fe      0
Category fe          0
Order Priority fe    0
dtype: int64

In [105]:
X = df_copy.iloc[:,:-1].values
y = df_copy.iloc[:,-1].values

In [106]:
print(len(X[0])) #everthiing considered except last col

19

In [107]:
print(y)

[0.57385455 0.57385455 0.57385455 ... 0.57385455 0.57385455 0.57385455]

In [108]:
print(len(y))

51290

In [109]:
print(type(X))
print(type(y))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [110]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [93]:
# Fitting K-NN to the Training set
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'